h1{
    text-align: center;
    text-decoration:blueviolet underline;
    font-weight: 400;
    font-size: 55px;
}
a{
    text-decoration: none;

}
p::first-letter{ 
    line-height: 1.5;
    color: red;

    
}
body{
    background-color: #FCEEDD;
}
#signin :hover{
    background-color: blue;
}

#signin{
    margin-left: 2%;
    margin-top: 1%;
    text-align: center;
    background-color: #FBBC58;
}

.gobutton :hover{
    background-color: red;
    color:blue;
}
.tag1{
    background-color: darkgray;
    color: #15d3ba;
    font-size: 20px;
}
.






.tag2{
    background-color: rgb(125, 252, 188);
    color: #d3156e;
    font-size: 20px;
    
}

nav a b{
    color:#15d3ba;
}
nav a{
    color:rgba(4, 0, 255, 0.938);

}
input[type="password"]{
    color: red;
    text-decoration: underline;
}
input[type="email"]{
    color: rgba(4, 0, 255, 0.938);
    
}
.subscribe{
    background-color: blue;
    color: wheat;
    text-align: center;
}
.subscribe:hover{
    background-color: red;
    color: rgb(61, 5, 87);
    transform: scale(1.1);
}
.subscribe:active{
   color: slateblue;
   background-color: springgreen;
}
.link{
    text-align: center;
    font-size: 24px;
}
.link:hover{
    transform: scale(1.1);
    text-decoration: underline;
}