h1{
    text-align: center;
    text-decoration:blueviolet underline;
    font-weight: 400;
    font-size: 55px;
}
a{
    text-decoration: none;

}
p{ 
    line-height: 1.5;
    
}
body{
    background-color: #FCEEDD;
}
#signin{
    margin-left: 2%;
    margin-top: 1%;
    text-align: center;
    background-color: #FBBC58;
}
#gobutton{
    background-color: rgb(7, 19, 43);
    color: cornsilk;
}
.tag1{
    background-color: darkgray;
    color: #15d3ba;
    font-size: 20px;
}
.tag2{
    background-color: rgb(125, 252, 188);
    color: #d3156e;
    font-size: 20px;
}